.flexSpaceBetween {
    justify-content: space-between;
}

.left {
    color: rgba( 255, 255, 255 , 0.8); 
    /* background-color: white; */
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}

.right {
    color: #3f51b5 ;
    background-color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}