<mat-toolbar color="primary" class="flexSpaceBetween">
  <span>Accolite University: Onboarding Module
    <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/home/ob">View</a>
    <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/home/ob/add">Add New</a>
  </span>
  <span>
    <a mat-button *ngIf="!loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Login</a>
    <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a>
  </span>
</mat-toolbar>