<br/><br/>
<h2>Demands Received & Selected Onboardees</h2>
<div fxLayout="row wrap">
  <mat-card *ngFor="let demand of demands" fxFlex="30">
    <mat-card-header>
      <mat-card-title class="no-margin">{{demand.id}} | {{demand.role}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <span style="font-weight: bold;">Hiring Manager:&nbsp;&nbsp;</span>
        <div>{{demand.hiringManager}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Team:&nbsp;&nbsp;</span>
        <div>{{demand.team}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Department:&nbsp;&nbsp;</span>
        <div>{{demand.department}}&nbsp;&nbsp;</div>
      </div>
      <div fxLayout="row">
        <span style="font-weight: bold;">Skills Required:&nbsp;&nbsp;</span>
        <div *ngFor="let skill of demand.dmdSkills">{{skill.name}}&nbsp;&nbsp;</div>
      </div>
      <div *ngIf="demand.ob" fxLayout="row">
        <span style="font-weight: bold;">Selected Onboardee:&nbsp;&nbsp;</span>
        <div>{{demand.ob.name}}&nbsp;&nbsp;</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" *ngIf="demand.ob" mat-button (click)="openDialog(demand.ob.id)">View Onboardee Details</button>
    </mat-card-actions>
  </mat-card>
</div>