.jumbotron {
    background-color: white;
}

table {
    width: 100%;
}

.mat-header-cell {
    background-color: orange;
    color: black;
    font-size: small;
}

.mat-cell {
    font-size: small;
}

.add-icon {
    font-size: large;
    margin-right: 2px;
}

mat-icon {
    font-size: large;
}

.mat-mini-fab {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}