<mat-table class="ob-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let ob">{{ob.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell class="name-cell" *matCellDef="let ob">{{ob.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="access_level">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell class="access_level-cell" *matCellDef="let ob">{{ob.access_level}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

</mat-table>