
<div class="container">
  <div class="jumbotron">
    <h2>List of Onboardees</h2>
    <a mat-raised-button color="accent" routerLink="/home/ob/add"><mat-icon class="add-icon">person_add</mat-icon> Add new Onboardee</a>
  </div>
  
  <p>* Click on column header to sort data wrt that column</p>
  <table table-striped mat-table class="ob-table mat-elevation-z8" matSort [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let ob">{{ob.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell class="name-cell" *matCellDef="let ob">{{ob.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
      <td mat-cell class="email-cell" *matCellDef="let ob">{{ob.email}}</td>
    </ng-container>

    <ng-container matColumnDef="mno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
      <td mat-cell class="mno-cell" *matCellDef="let ob">{{ob.mno}}</td>
    </ng-container>

    <ng-container matColumnDef="joiningCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Location</th>
      <td mat-cell class="joiningCity-cell" *matCellDef="let ob">{{ob.joiningCity}}</td>
    </ng-container>
  
    <ng-container matColumnDef="obStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Onboarding Status</th>
      <td mat-cell class="obStatus-cell" *matCellDef="let ob">{{ob.obStatus | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="eta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ETA Completion</th>
      <td mat-cell class="eta-cell" *matCellDef="let ob">{{ob.eta}} weeks</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell class="actions-cell" *matCellDef="let ob">
        <button mat-mini-fab (click)="openDialog(ob.id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <a routerLink="/home/ob/edit" [state]="{id: ob.id}" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-mini-fab color="warn" (click)="delete(ob.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>