<mat-toolbar>  
    <mat-toolbar-row>
        <span>Welcome to Accolite University On-boarding Portal, User!</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span>What would you like to do?</span>
    </mat-toolbar-row>
</mat-toolbar>
<br/><br/><br/>
<div fxLayoutAlign="space-evenly start" fxFlexFill fxLayout="row" class="main-div">
    <mat-card fxFlex="40">
        <a routerLink="/user">Manage Users</a>
    </mat-card>
    <mat-card fxFlex="40">
        <a routerLink="/ob">Manage Onboardees</a>
    </mat-card>   
    <router-outlet></router-outlet>
</div>